# Manifest file for Python distribution - only list files required for Python
include beampower/src/beamform.c
include beampower/src/beamform_cpu.h
include beampower/src/beamform.cu
include beampower/src/beamform_gpu.h
include beampower/__init__.py
include beampower/beampower.py
include beampower/lib/*.so
include LICENSE
include Makefile
include README.md
include setup.py
